@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');



html,body{
    margin: 0px;
    padding: 0px;
    background-image: url('../img/backgrund.png');
    background-attachment: fixed;
    background-size: 160px;
    font-family: "Josefin Sans", sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
.conteiner{
    display: flex;
    
    
}

/*Cabecalho*/
.cabecalho,.menu-lateral,.conteudo-principal{
    color: #ffffff;
}

.logo-principal img{
    width: 60px;

}

.cabecalho {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-items: end; */
    /* padding: 10px; */
    background-color: #e4d01e;
    width: 100%;
    top: 0px;
    border-bottom: 4px solid white;
}
.titulo{
    font-size: 2.6em;
    font-weight: 100;
}
.cabecalho-menu{
    font-size: 1.2em;
    margin-right: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
    
}
.icones i{
    cursor: pointer;
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
}

.input-Pesquisa{
    display: flex;
    margin-bottom: 2px;
    align-items: center;
    justify-items: center;

    transition: ease-out 0.5s; 
}

.input-Pesquisa input{

    border-radius: 5px;
    padding:4px;
    border: 1px solid #4e4e6d;
}
/*Menu lateral*/
.menu-lateral{
    top: 60px;
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    margin-left:0px ;
    padding: 20px;
    padding-right: 100px;
    border-right: 1px solid #37374b;
    height: 100%;
    background-color: #e4d01e;
    transition: ease-in-out 0.6s;
}
.menu-lateral-produto{
    margin-bottom: 250px;
    margin-top: 90px;
}
.conteudo-menu-lateral{
    margin-top: 70px;
    
}
.conteudo-menu-lateral ul{
    list-style: none;
    transition: ease-in-out 0.6s;
    
}
.conteudo-menu-lateral ul li{
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.2s ease;
}
.menu-lateral-produto h4{
    font-size: 1.3em;
    text-shadow: 1px 1px 1px black;
}

.conteudo-menu-lateral a{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
}
.conteudo-menu-lateral a i{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    text-shadow: 1px 1px 1px black;
}
.conteudo-menu-lateral a:hover{
    border-bottom: 1px solid #ffffff;
    width: 80px;
    transition: 0.2s ease;
}
.logo{
    position: fixed;
    margin-top: 360px;
}
.logo img{
    width: 65px;
    
}

/*Conteudo PrincipL*/
.conteudo-principal{
    margin-top: 100px;
}
.h1-produto{
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 5px;
    border-bottom: 3px solid #e4d01e;
    width: 170px;
}
#link_produto{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
    color: black;
    gap: 10px;
}
.conteiner-produtos{
    display: flex;
    flex-wrap: wrap;
    gap: 10px ;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-top: 20px;
   
}
.paginaproduto{
    text-decoration: none;
}
.produto{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    justify-content: space-around;
   
}

#img_produto{
    width: 140px;
    border-radius: 20px;
   
    border: 5px solid #e4d01e;
}
.notas-produtos{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}
.notas-produtos img{
    width: 50px;
}
.notas-produtos h4{
    font-size: 1.3em;
    margin-top: 10px;
}
/* Menu */

.fechar-menu{
    display: flex;
    padding: 10px;
    font-size: 2em;
    cursor: pointer;
}
#abrir-menu{
    position: fixed;
    color: #e4d01e;
    text-shadow:2px 1px 0px black;
    margin: 0px;
    font-size: 2em;
    margin-top: 250px;
    cursor: pointer;
}
#abrir-menu{
   text-align: left;
}
.nome-produto{
    word-wrap:break-word;
}
