
.conteudo-principal{
    display: flex;
    flex-direction: column;
    gap: 35px;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}
.img-produtos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img-p{
    background-color: #ffffff;
    padding: 5px;
    border-radius: 20px;
    
}
#img1 img{
    width: 140px;
    border: 5px solid #e4d01e;
    border-radius: 20px;
}
#img2 img{
   width: 185px;
   border: 5px solid #e4d01e;
   border-radius: 20px;
}
.informacoes-produto{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    width: 90%;
}
.informacoes-produto h2{
    text-align: center;
}
.informacoes-produto p{
    word-wrap: break-word;
}
.conteiner-avaliacao{
    display: flex;
    flex-direction: column;
    gap: 15px;

}
#form-enviar-avaliacao{
    display: flex;
    background-color: #ffffff;
    border: 2px solid #e4d01e;
    border-radius: 10px;
    gap: 10px;
    width: 370px;
    flex-direction: column;
    margin: auto;
}
#form-enviar-avaliacao label{
    color: #000000;
}
#comentario{
    padding: 10px;
    font-family: "Josefin Sans", sans-serif;
}
.area-avaliacao{
    display: flex;
    padding: 10px;
    gap: 10px;
}
.area-avaliacao img{
    width: 45px;
}

#input-nome{
    justify-content: space-between;
}
#input-nome input{
    width: 252px;
    padding: 2px;
    font-family: "Josefin Sans", sans-serif;
}
#nota-avaliacao{
    display: flex;
    align-items: center;
}
.notas{
    display: flex;
}
.notas img{
    width:55px ;
}
.btn_enviar{
    margin: 20px;
    border-radius: 5px;
    background-color: #e7d212;
    padding: 2px;
    font-size: 1.1em;
    font-family: "Josefin Sans", sans-serif;
    transition: ease 0.5s;
}
.btn_enviar:hover{
    transform: scale(0.9);
    transition: ease 0.5s;
    box-shadow: 4px 2px black;
}

.comentarios-lista{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 5px;
}
.comentario{
    display: flex;
    flex-direction: column;
    
}
.comentario{
    display: flex;
    flex-direction: column;
    gap:15px;
    border-top: 2px solid white;
    padding: 10px;
}

#avaliacao-feita{
    display: flex;
    color: #000000;
    align-items: center;
}
.avaliacao-feita img{
    width: 70px;
}
.h2-txt-avaliacao{
    color: #e7d212;
    text-shadow: 1px 1px 0px black;
    padding: 10px;
}
#comentario-text{
    word-wrap: break-word;
}
#descricao-produto, .comentario p#comentario-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#descricao-produto.expandido, .comentario p#comentario-text.expandido {
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
}
.ver-mais{
    width: 100px;
    border: none;
    background-color: #00000000;
    padding: 0px;
    color: #ffffff;
    border-bottom: 2px solid wheat;
}
.avaliacao{
    display: flex;
    align-items: center;
    width: 350px;
    background-color: #e7d212;
    border-radius: 10px;
    padding: 2px;
    gap: 20px;
}
.avaliacao img{
    width: 50px;
}